@model Narail.Models.Settings
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="who-we-are-area padd-2">
    <div class="container">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">

        </div>
            <div class="content">
                <div class="sec-title style-2">
                    <h2>KARAPINAR MEDYA <span>CANLI YAYIN</span></h2>
                </div>
                <div class="table">
                    <iframe width="1280" height="720" src="@Model.YoutubeLiveLink" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="text">

                </div>
            </div>
     
    </div>
</section>


