
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="preloader">
            <div class="spinner-layer pl-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p>Lütfen Bekleyin...</p>
    </div>
</div>
<div class="overlay"></div>

<nav style="background:#0f6cff" class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
            <a href="javascript:void(0);" class="bars"></a>
            <a class="navbar-brand" href="@Url.Action("Index","Panel")">YÖNETİM PANELİ</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <!-- Call Search -->

                

                <li><a href="@Url.Action("Logout","Login")"><i class="material-icons">exit_to_app</i></a></li>

               
            </ul>
        </div>
    </div>
</nav>