@model IEnumerable<Narail.Models.News>

<section class="rev_slider_wrapper">
    <div id="slider1" class="rev_slider" data-version="5.0">
        <ul>
            @foreach (var item in Model)
            {
            <li data-transition="slotzoom-horizontal">
                <img src="@Url.Content(item.Image)" alt="" width="1920" height="500" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">

                <div class="tp-caption  tp-resizeme"
                     data-x="left" data-hoffset="50"
                     data-y="top" data-voffset="500"
                     data-transform_idle="o:1;"
                     
                     data-transform_out="s:100;e:Power3.easeInOut;s:100;e:Power3.easeInOut;"
                     data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="700">
                    <div class="slide-content-box">
                        <a href="/NewsDetail/Index/@item.id">
                            <h2 style="color:white">
                                @if (item.Header.Length > 50)
                                {
                                    @Html.Raw(Html.DisplayFor(modelItem => item.Header).ToString().Substring(0, 50))
                                }
                                else
                                {
                                    @item.Header
                                }
                                <br> Haber Detayı...
                            </h2>
                        </a>

                    </div>
                </div>



            </li>
            } 

            
        </ul>
    </div>
</section>


